:root {
  --font-base: "freight-sans-pro", sans-serif;
  --font-header: "adelle", serif;
  --color-black: #322E32;
  --color-blue: #69B2BC;
  --color-blue-light: #A3D3D4;
  --color-red: #E6231E;
  --color-white: #FFF5E6;
  --base-sizing: 54px;
  --half-sizing: 27px;
  --quarter-sizing: 13.5px;
  --max-width: 730px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

.nodisplay,
.hide,
.hidden,
[hidden],
.screen-reader-text,
.ui-tabs-hide {
  display: none !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  webkit-font-smoothing: antialiased;
}

body {
  text-rendering: optimizeLegibility;
}

a:focus,
a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  clear: both;
  height: 0;
}

hr.clearer {
  background: transparent;
  border: 0;
}

mark {
  background: #FFFF00;
  color: #000000;
}

code,
kbd,
pre,
samp {
  font-family: monospace,
  serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

.screen-reader-text {
  font-size: 1px;
  position: absolute;
  top: -9999px;
}

/* SITE */
body {
  background-color: var(--color-blue);
  color: var(--color-black);
  font-family: var(--font-base);
  font-size: 25px;
  font-weight: 500;
  height: 100%;
  line-height: 1.4;
  text-align: center;
}

main {
  height: 100%;
  position: relative;
  width: 100%;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

a {
  color: var(--color-blue);
  text-decoration: none;
  transition: all .15s ease-in-out;
}

a:hover {
  color: var(--color-red);
}

a:focus,
a:active {
  text-decoration: underline;
}

h1,
h2 {
  font-family: var(--font-header);
  margin-bottom: var(--half-sizing);
}

h1 {
  display: block;
  font-size: var(--half-sizing);
  margin-top: var(--quarter-sizing);
  transition: all .3s ease-in-out;
  width: 100%;
}

h2 {
  margin-bottom: var(--base-sizing);
  margin-top: 0;
}

h2 span {
  display: block;
  margin-top: var(--base-sizing);
}

@media (max-width:749px) {
  h1,
  h2 {
    font-size: 12px;
  }
}

@media (max-width:749px) {
  h2 span {
    display: none;
  }
}

ul.social-profiles {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0 auto 50px;
  max-width: --var(--max-width);
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 99;
}

.icon-twitter a {
  background-image: url("https://res.cloudinary.com/germanny/image/upload/co_rgb:69B2BC,dpr_2.0,e_colorize:100,f_auto,w_100/v1/icons/social/icon-twitter.svg");
}

.icon-facebook a {
  background-image: url("https://res.cloudinary.com/germanny/image/upload/co_rgb:69B2BC,dpr_2.0,e_colorize:100,f_auto,w_100/v1/icons/social/icon-facebook.svg");
}

.icon-dribbble a {
  background-image: url("https://res.cloudinary.com/germanny/image/upload/co_rgb:69B2BC,dpr_2.0,e_colorize:100,f_auto,w_100/v1/icons/social/icon-dribbble.svg");
}

.icon-github a {
  background-image: url("https://res.cloudinary.com/germanny/image/upload/co_rgb:69B2BC,dpr_2.0,e_colorize:100,f_auto,w_100/v1/icons/social/icon-github.svg");
}

.icon-tumblr a {
  background-image: url("https://res.cloudinary.com/germanny/image/upload/co_rgb:69B2BC,dpr_2.0,e_colorize:100,f_auto,w_100/v1/icons/social/icon-tumblr.svg");
}

.icon-instagram a {
  background-image: url("https://res.cloudinary.com/germanny/image/upload/co_rgb:69B2BC,dpr_2.0,e_colorize:100,f_auto,w_100/v1/icons/social/icon-instagram.svg");
}

.icon-email a {
  background-image: url("https://res.cloudinary.com/germanny/image/upload/co_rgb:69B2BC,dpr_2.0,e_colorize:100,f_auto,w_100/v1/icons/social/icon-envelope.svg");
}

.icon-dogpossible a {
  background-image: url("https://res.cloudinary.com/germanny/image/upload/co_rgb:69B2BC,dpr_2.0,e_colorize:100,f_auto,w_100/v1/icons/social/icon-dogpossible.svg");
}


ul.social-profiles a {
  background-color: var(--color-white);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: 63% auto;
  border-radius: 50%;
  display: block;
  filter: alpha(opacity=80);
  height: 50px;
  margin: 0 7px;
  opacity: .8;
  text-indent: -9999px;
  transition: opacity .3s ease-in-out;
  width: 50px;
}

ul.social-profiles a:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

@media (max-width:749px) {
  ul.social-profiles a {
    height: 35px;
    width: 35px;
  }
}

footer#siteinfo {
  background-color: var(--color-black);
  border-bottom: 10px solid black;
  box-sizing: border-box;
  clear: both;
  font-size: 15px;
  height: 120px;
  padding-top: 30px;
}

footer#siteinfo .copy {
  color: var(--color-white);
  margin-bottom: 15px;
}

footer#siteinfo .quote {
  color: var(--color-white);
  font-style: italic;
}

.module {
  background: url("https://res.cloudinary.com/germanny/image/upload/f_auto,fl_lossy,q_auto/v1/site/bg-module.png")  no-repeat center 0 / 730px;
  border: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: 0;
  padding-top: var(--base-sizing);
  position: relative;
}

@media (max-width:749px) {
  .module {
    background-size: 550px;
    padding: 38px;
    padding-top: 1.4em;
  }
}

.page-header {
  margin-left: auto;
  margin-right: auto;
  max-width: --var(--max-width);
  position: relative;
  width: 100%;
  z-index: 99;
}

#brandmark {
  margin: 0 auto 8.33333%;
  width: 210px;
}

@media (min-width:750px) {
  #brandmark {
    margin-bottom: var(--base-sizing);
  }
}
