<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}"/>

  <link rel="shortcut icon" href="https://res.cloudinary.com/germanny/image/upload/v1/site/favicon.ico">
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

  <!-- Typkit Code -->
  <script src="https://use.typekit.net/tqt8dfj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body class="home" id="page-home">

  <a name="top" id="top"></a>

  <main role="main" class="container" id="page">

    <div id="content" class="entry-content">

      {{ content }}

    </div>

    {% include footer.html %}

  </main>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-6997373-2");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>

</body>
</html>
