<footer class="site-footer">
  <button class="btn footer-return-btn js-return-top" style="background:transparent;border:0;cursor:pointer;">
    <svg height="50" width="50">
      <circle cx="25" cy="25" r="22" style="fill: none;stroke: deepskyblue;stroke-width: 3px;"/>
      <polyline points="13,28 25,17 36,28" style="fill: none;stroke: deepskyblue;stroke-width: 3px;"></polyline>
    </svg>
    <span style="display:none;">Back<br>to Top</span>
  </button>
  <nav class="nav footer-nav">
    <ul id="menu-footer-nav" class="menu">
      <li><a href="#">Footer Menu Item 1</a></li>
      <li><a href="#">Footer Menu Item 2</a></li>
      <li><a href="#">Footer Menu Item 3</a></li>
    </ul>
  </nav>
  <div class="legal"><span>Site Name</span> &copy; Today's Date All Rights Reserved</div>
</footer>
