<header role="banner" class="site-header" id="branding">
  <div class="wrapper container">
    <div id="logo"><a href="#home" class="site-logo">JenGermann Design</a></div>
    <nav role="navigation" class="nav main-nav" id="menu">
      <a class="screen-reader-text skip-link" href="#content">Skip to content</a>
      <ul id="menu-main-nav" class="menu">
        <li class="menu-item work"><a href="#work">work</a></li>
        <li class="menu-item about"><a href="#about">about</a></li>
        <li class="menu-item contact"><a href="#contact">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
